/* .container {
    background-image: url('../../assets/productsBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;


} */